<%- contentFor("title") %>
Commands ran by: <%= user.githubUsername %>
<%- contentFor("body") %>
<h2>Commands ran by: <%= user.githubUsername %></h2>

<ul>
<% user.commands.forEach(function (command) { %>
  <li>
    <a href="/command/<%= command._id %>">
      <%= command.name %> - <%= command.createdAt %>
    </a>
  </li>
<% }) %>
</ul>